body{
    padding-bottom: 40px;
    padding-top: 40px;
}
.right{
    float: right;
}
.sell-item{
    max-width: 470px;
    display: block;
    margin: 0px auto;
}
.price{
    color: #252CC3;
}
.seller{
    color: #F00;
}
.input-group, .numpad{
    padding: 15px;
}
.numpad button{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}
input[type=text],input[type=number],span#addon{
    font-size: 18px;
}
input[name=seller],span[name=seller]{
    color: #F00;
    font-weight: bold;
}
input[name=price],span[name=price]{
    color: #252CC3;
    text-align: right;
    font-weight: bold;
}
.cart .table{
    font-size: 20px;
}
.checkout h1{
    text-align: center;
}
.checkout h3{
    margin-bottom: 0px;
}
.full-width{
    width: 100%;
    text-align: center;
}
a, a:hover, a:active, a:focus{
    color: inherit;
}